.card-clickable {
  background-color: white;
  cursor: pointer;
  margin: auto;
  width: 500px;
  height: 500px;
  max-width: 100%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 5px 5px rgb(0 0 0 / 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
}

.card-image {
  max-width: 99% !important;
  max-height: 85% !important;
  object-fit: contain;
}


.react-pdf__Document{
  height: 100% !important;
}

.react-pdf__Page{
  height: 100% !important;
  object-fit: contain;
}

.react-pdf__Page__canvas{
  max-width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

.corner-label {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 2px;
  background-color: #7237C5;
}

.corner-label-text {
  font-size: 15px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "Lapsus";
}

.voice-form {
  margin: auto;
  margin-top: 10px;
  max-width: 400px;
}

.bottom-content{
  width: 100%;
}


.corner-stats-container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  display: flex;
}

