.books-content {
  padding-top: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  justify-content: center;
  margin: auto;
}

.content-row {
  margin-left: auto;
  margin-right: auto;
}
