@font-face{
font-family: "Gwibble"; 
  src: local("Gwibble"),
    url("./assets/fonts/Gwibble.ttf") format("truetype");
}

@font-face{
  font-family: "Lapsus"; 
    src: local("Lapsus"),
      url("./assets/fonts/LapsusPro-Bold.otf") format("opentype");
  }
  

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #F2F2F2;
}



.control-button{
  width: 75px;
  height: auto;
  margin: 5px;
}

.control-button-image{
  max-width: 100%;
  max-height: 100%;
}

.register-link{
  align-self: center;
  color: #0accb9
}
