.admin-content {
  padding-top: 50px;
  width: 80%;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
}

.top-buttons-container {
  display: flex;
  justify-content: end;
  padding: 10px;
}