.admin-content {
  padding-top: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-buttons-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.accordions-container {
  width: 80vw;
  overflow: hidden;
}